log/
xhtml/
packages/
obj/
_site/
Tools/NuGet/
_site/
.vscode/

.openpublishing.build.mdproj
.openpublishing.buildcore.ps1
packages.config
.optemp
settings.json
windows-driver-docs-pr/vcwqufli.tjw.json
