windows-driver-docs-pr/3dprint/ @barrygolden
windows-driver-docs-pr/acpi/ @barrygolden
windows-driver-docs-pr/audio/ @DOMARS
windows-driver-docs-pr/battery/ @DOMARS
windows-driver-docs-pr/biometric/ @EliotSeattle
windows-driver-docs-pr/bluetooth/ @billlattimer
windows-driver-docs-pr/bringup/ @barrygolden
windows-driver-docs-pr/dashboard/ @EliotSeattle
windows-driver-docs-pr/debugger/ @DOMARS
windows-driver-docs-pr/devapps/ @EliotSeattle
windows-driver-docs-pr/develop/ @tedhudek
windows-driver-docs-pr/devtest/ @EliotSeattle
windows-driver-docs-pr/display/ @lorihollasch
windows-driver-docs-pr/driversecurity/ @DOMARS
windows-driver-docs-pr/gettingstarted/ @EliotSeattle
windows-driver-docs-pr/gnss/ @barrygolden
windows-driver-docs-pr/gpio/ @EliotSeattle
windows-driver-docs-pr/gpiobtn/ @EliotSeattle
windows-driver-docs-pr/hid/ @EliotSeattle
windows-driver-docs-pr/ieee/ @EliotSeattle
windows-driver-docs-pr/ifs/ @lorihollasch
windows-driver-docs-pr/image/ @barrygolden
windows-driver-docs-pr/install/ @tedhudek
windows-driver-docs-pr/kernel/ @tedhudek
windows-driver-docs-pr/mobilebroadband/ @billlattimer
windows-driver-docs-pr/multifunction/ @barrygolden
windows-driver-docs-pr/netcx/ @billlattimer
windows-driver-docs-pr/network/ @billlattimer
windows-driver-docs-pr/nfc/ @EliotSeattle
windows-driver-docs-pr/parports/ @EliotSeattle
windows-driver-docs-pr/partnerapps/ @EliotSeattle
windows-driver-docs-pr/pci/ @EliotSeattle
windows-driver-docs-pr/pcmcia/ @EliotSeattle
windows-driver-docs-pr/portable/ @EliotSeattle
windows-driver-docs-pr/pos/ @barrygolden
windows-driver-docs-pr/powermeter/ @DOMARS
windows-driver-docs-pr/print/ @barrygolden
windows-driver-docs-pr/samples/ @barrygolden
windows-driver-docs-pr/sd/ @EliotSeattle
windows-driver-docs-pr/sensors/ @billlattimer
windows-driver-docs-pr/serports/ @DOMARS
windows-driver-docs-pr/smartcard/ @EliotSeattle
windows-driver-docs-pr/spb/ @EliotSeattle
windows-driver-docs-pr/storage/ @lorihollasch
windows-driver-docs-pr/stream/ @barrygolden
windows-driver-docs-pr/taef/ @EliotSeattle
windows-driver-docs-pr/usbcon/ @billlattimer
windows-driver-docs-pr/wdf/ @tedhudek
windows-driver-docs-pr/wdtf/ @EliotSeattle
windows-driver-docs-pr/whea/ @EliotSeattle