---
title: Disable protected DLL verification
description: Disable protected DLL verification
ms.assetid: 28b5c4f8-18d3-44ed-a424-92e8e04dcdbc
keywords: ["Disable protected DLL verification (global flag)"]
ms.author: domars
ms.date: 05/23/2017
ms.localizationpriority: medium
---

# Disable protected DLL verification


## <span id="ddk_disable_protected_dll_verification_dtools"></span><span id="DDK_DISABLE_PROTECTED_DLL_VERIFICATION_DTOOLS"></span>


The **Disable protected DLL verification** flag appears in GFlags, but it has no effect on Windows.

<table>
<colgroup>
<col width="50%" />
<col width="50%" />
</colgroup>
<tbody>
<tr class="odd">
<td align="left"><p><strong>Abbreviation</strong></p></td>
<td align="left"><p>dpd</p></td>
</tr>
<tr class="even">
<td align="left"><p><strong>Hexadecimal value</strong></p></td>
<td align="left"><p>0x80000000</p></td>
</tr>
<tr class="odd">
<td align="left"><p><strong>Symbolic Name</strong></p></td>
<td align="left"><p>FLG_DISABLE_PROTDLLS</p></td>
</tr>
<tr class="even">
<td align="left"><p><strong>Destination</strong></p></td>
<td align="left"><p>System-wide registry entry, kernel flag, image file registry entry</p></td>
</tr>
</tbody>
</table>

 

 

 





